<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">
        <div class="outer">
          <div class="title">Nearby jobs</div>
          <div class="chatter">Between 2000 and 2012, the average number of jobs within a typical commute distance* went up in Seattle and the Eastside, but went down in South King County.</div>
          <div class="note">*Within a 9-mile radius of the center of each census tract.</div>

          <table class="jobs-table">
            <tr>
              <th></th>
              <th>2000</th>
              <th>2012</th>
              <th>Difference</th>
              <th>% Change</th>
            </tr>
            <% csv.regional_data.forEach(function(row) { %>
            <tr>
              <td class="name"><%= row.area %></td>
              <td><%= row.then %></td>
              <td><%= row.now %></td>
              <td><%= row.difference %></td>
              <td>
                <% if (row.up) { %>
                  <span class="up">&#9650;</span>
                <% } else { %>
                  <span class="down">&#9660;</span>
                <% } %>
                <%= row.perc %>
              </td>
            </tr>
            <% }) %>
          </table>

          <div class="aspect-ratio-outer">
            <div class="aspect-ratio-inner">

              <leaflet-map lat="47.51" lng="-122.23" zoom=10>
                <tile-layer layer="cartoPositron"></tile-layer>
              </leaflet-map>

            </div>
          </div>

          <aside class="legend">
            <h1>% Change in number of nearby jobs, 2000 - 2012</h1>

            <ul class="scale">
              <li>
                <span class="block" style="background-color: #a50026;"></span>
                <label class="left">&#8804; -10%</label>
              </li>
              <li><span class="block" style="background-color: #d73027;"></span></li>
              <li><span class="block" style="background-color: #f46d43;"></span></li>
              <li><span class="block" style="background-color: #fdae61;"></span></li>
              <li><span class="block" style="background-color: #fee08b;"></span>-1%</li>
              <li><span class="block" style="background-color: #d9ef8b;"></span>+1%</li>
              <li><span class="block" style="background-color: #a6d96a;"></span></li>
              <li><span class="block" style="background-color: #66bd63;"></span></li>
              <li><span class="block" style="background-color: #1a9850;"></span></li>
              <li>
                <span class="block" style="background-color: #006837;"></span>
                <label class="right">&#8805; +10%</label>
              </li>
            </ul>

            <cite class="source">
              Source: Brookings Institution
              <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
            </cite>
          </aside>
        </div>
      </div>
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
